[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	name = YasushiKobayashi
	email = ptpadan@gmail.com
[filter "lfs"]
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
[ghq]
	root = ~/go/src
[commit]
	template = ~/.stCommitMsg
[alias]
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[credential]
	helper = osxkeychain
