[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = YasushiKobayashi
  email = ptpadan@gmail.com
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
[ghq]
  root = ~/go/src
[commit]
  template = ~/.stCommitMsg
[alias]
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  ch = checkout

  # pecoでローカルブランチ切り替え
  chl = !git branch --sort=-authordate | peco | awk '{ print $NF }' | xargs git checkout

  # pecoでリモートブランチチェックアウト
  chr = !git fetch && git branch --sort=-authordate -a | peco --query 'remotes/ ' | head -n 1 | sed -e 's/remotes\\/origin\\///' | xargs git checkout
  p = !git stash && git pull && git stash pop stash@{0}

[push]
	default = current

[fetch]
    prune = true

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[branch]
	autosetuprebase = always
[pull]
	rebase = false
