"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ccee6fa0-69d9-4173-8455-5cf11c6570f7"
    php:
      beautify_on_save: true
      cs_fixer_config_file: "/Users/kobayashiyasushi/dotfiles/.phpcs.dist"
  "atom-package-deps":
    ignored: []
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".vagrant"
      "*.map"
      "*.pyc"
      "*etry"
      "*."
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "3d9f7636-1a96-ac56-6c01-7b337b8def65"
  "git-plus":
    general:
      _analyticsUserId: "6d66eaf5-6c91-4d81-be28-6fd146c79957"
  "go-plus":
    currentPanelWidth: "0vw"
    disabledBundledPackages: [
      "hyperclick"
    ]
    panel:
      currentWidth: "0.05952380952380953vw"
      orientation: "vertical"
    panelOrientation: "vertical"
  linter: {}
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-phpmd":
    phpmdExecutablePath: "/usr/local/bin/phpmd"
  "linter-pycodestyle": {}
  "linter-ui-default":
    panelHeight: 69
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    disablePythonDocLinks: true
  "platformio-ide-terminal":
    style:
      theme: "homebrew"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions:
      jsxBracketSameLine: true
      parser: "flow"
      printWidth: 100
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    tabLength: 2
